    tabs: [
    (
        name: "Queue",
        pane: Split(
            direction: Horizontal,
            panes: [(size: "45%", pane: Pane(Queue)), (size: "55%", pane: Pane(AlbumArt))],
        ),
    ),
    (
        name: "Directories",
        pane: Pane(Directories),
    ),
    (
        name: "Artists",
        pane: Pane(Artists),
    ),
    (
        name: "Album Artists",
        pane: Pane(AlbumArtists),
    ),
    (
        name: "Albums",
        pane: Pane(Albums),
    ),
    (
        name: "Playlists",
        pane: Pane(Playlists),
    ),
    (
        name: "Search",
        pane: Pane(Search),
    ),
],
)

