#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    theme: None,
    cache_dir: None,
    volume_step: 5,
    status_update_interval_ms: 1000,
    keybinds: (
        global: {
            ":":       CommandMode,
            "3":       ArtistsTab,
            ",":       VolumeDown,
            "s":       Stop,
            ".":       VolumeUp,
            "c":       ToggleSingle,
            "1":       QueueTab,
            "6":       SearchTab,
            "<Right>": NextTab,
            "<Tab>":   NextTab,
            "5":       PlaylistsTab,
            "<Left>":  PreviousTab,
            "<S-Tab>": PreviousTab,
            "q":       Quit,
            "4":       AlbumsTab,
            "x":       ToggleRandom,
            ">":       NextTrack,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "v":       ToggleConsume,
            "2":       DirectoriesTab,
            "p":       TogglePause,
            "z":       ToggleRepeat,
            "b":       SeekBack,
            "~":       ShowHelp,
            "O":       ShowOutputs,
        },
        navigation: {
            "<C-u>":   UpHalf,
            "N":       PreviousResult,
            "a":       Add,
            "r":       Rename,
            "n":       NextResult,
            "g":       Top,
            "<Space>": Select,
            "G":       Bottom,
            "h":       Left,
            "<CR>":    Confirm,
            "i":       FocusInput,
            "J":       MoveDown,
            "j":       Down,
            "<C-d>":   DownHalf,
            "/":       EnterSearch,
            "<C-c>":   Close,
            "<Esc>":   Close,
            "K":       MoveUp,
            "l":       Right,
            "D":       Delete,
            "k":       Up,
        },
        queue: {
            "D":       DeleteAll,
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
        },
    ),
)

