#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    theme: None,
    volume_step: 5,
    status_update_interval_ms: 1000,
    keybinds: (
        global: {
            ArtistsTab: "3",
            VolumeDown: ",",
            Stop: "s",
            VolumeUp: ".",
            ToggleSingle: "c",
            QueueTab: "1",
            SearchTab: "6",
            NextTab: ["<Right>", "<Tab>"],
            PlaylistsTab: "5",
            PreviousTab: ["<Left>", "<S-Tab>"],
            Quit: "q",
            AlbumsTab: "4",
            ToggleRandom: "x",
            NextTrack: ">",
            PreviousTrack: "<",
            SeekForward: "f",
            ToggleConsume: "v",
            DirectoriesTab: "2",
            TogglePause: "p",
            ToggleRepeat: "z",
            SeekBack: "b",
        },
        navigation: {
            UpHalf: "<C-u>",
            PreviousResult: "N",
            Add: "a",
            Rename: "r",
            NextResult: "n",
            Top: "g",
            Select: "<Space>",
            Bottom: "G",
            Left: "h",
            Confirm: "<CR>",
            FocusInput: "i",
            MoveDown: "J",
            Down: "j",
            DownHalf: "<C-d>",
            EnterSearch: "/",
            Close: ["<C-c>", "<Esc>"],
            MoveUp: "K",
            Right: "l",
            Delete: "D",
            Up: "k",
        },
        queue: {
            DeleteAll: "D",
            Play: "<CR>",
            Save: "<C-s>",
            AddToPlaylist: "a",
            Delete: "d",
        },
    ),
)

