[Desktop Entry]
Name=rmpc
Comment=A beautiful and configurable TUI client for MPD
Terminal=true
TryExec=rmpc
Exec=rmpc
Type=Application
MimeType=inode/directory
Categories=Audio;Player;Music;ConsoleOnly
# Keywords=Music;Player;Media
