---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { Content, getHeadings } from "../../../CHANGELOG.md";
---

<StarlightPage frontmatter={{ title: "Changelog" }} hasSidebar={false} sidebar={[]} headings={getHeadings()}>
    <div class="container">
        <Content />
    </div>
</StarlightPage>
