---
import { Icon } from "@astrojs/starlight/components";

const url = Astro.url;
const isGitVersion = url.pathname.startsWith("/rmpc/next");
const shouldShowBanner = isGitVersion && !url.pathname.includes("try-without-install") && !url.pathname.includes("faq");
---

<div class="sl-banner">
    <span class="sl-banner-text">
        This page is for the development version of rmpc. Make sure your version matches the selected documentation.
    </span>
    <Icon class="close-icon" name="close" />
</div>

<script is:inline define:vars={{ shouldShowBanner }}>
    const banner = document.querySelector(".sl-banner");
    if (banner) {
        const shouldHide = sessionStorage.getItem("banner-closed");
        console.log("Banner visibility check:", shouldHide, shouldShowBanner);
        if (shouldHide !== "true" && shouldShowBanner) {
            banner.style.display = "flex";
        }

        const closeIcon = document.querySelector(".close-icon");
        closeIcon?.addEventListener("click", () => {
            sessionStorage.setItem("banner-closed", "true");
            banner.remove();
        });
    }
</script>

<style>
    @layer starlight.core {
        .sl-banner {
            --__sl-banner-text: var(--sl-color-banner-text, var(--sl-color-text-invert));
            padding: var(--sl-nav-pad-y) var(--sl-nav-pad-x);
            background-color: var(--sl-color-banner-bg, var(--sl-color-bg-accent));
            color: var(--__sl-banner-text);
            line-height: var(--sl-line-height-headings);
            text-align: center;
            text-wrap: balance;
            box-shadow: var(--sl-shadow-sm);
            display: none;
        }
        .sl-banner :global(a) {
            color: var(--__sl-banner-text);
        }
        .sl-banner-text {
            flex-grow: 1;
        }
        .close-icon {
            cursor: pointer;
            align-items: center;
        }
    }
</style>
