---
import Default from "@astrojs/starlight/components/ContentPanel.astro";
const section = Astro.url.pathname.replace("/rmpc/", "").replace(/\/.*/, "");
---

{
    (
        //@ts-ignore}
        <div data-pagefind-filter="section[content]" content={section}>
            <Default>
                <slot />
            </Default>
        </div>
    )
}
